black==24.8.0
click==8.1.7
importlib_metadata==8.4.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
tomli==2.0.1
typing_extensions==4.12.2
yapf==0.40.2
zipp==3.20.1
